@font-face {
    font-family: Roboto; /* Имя шрифта */
    src: url(../fonts/Roboto-Regular.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
	font-family: Roboto-black;
	src: url(../fonts/Roboto-Black.ttf);
}


@font-face {
	font-family: Fontello;
	src: url(../fonts/fontello.ttf);
}

html {
	scroll-behavior: smooth; 
}


body {
	margin: 0;
	padding: 0;
	font-family: Roboto, sans-serif;
}

button {
	cursor: pointer;
}

h1, h5 {
	font-size: 0;	
	margin: 0;	
	padding: 0;		
}

a {
	text-decoration: none;
}

.fixed-container {
	max-width: 1175px;
	margin: 0 auto;
	padding: 0 25px;
}

.flex {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.page_grey {
	background-color: #fbfbfb;
}

.bg-container {
	max-width: 1922px;	
	margin: 0 auto;	
	position: relative;
	overflow: hidden;
}


.bg-figure {
	position: absolute;
	width: 814px;
	height: 630px;
	right: 0;
	bottom: 0;
}

.birds {
	font-weight: 700;
	position: absolute;
	z-index: 10;
	animation: bird 1s ease-in-out;
 	animation-fill-mode: forwards;
}

.birds_heading  {
	background-image: linear-gradient(to top, #f26522 20%, #fa0891 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;	
}

.birds_price {
	color: white;
}

.birds__bird1 {
	font-size: 43px;
	transform: rotate(25deg);	
}

.birds__bird1_heading {
	animation-name: bird1;
}

@keyframes bird1 {
  0% {
    top: 340px;
	    left: 740px;
  }  
  100% {
    top: 55px;
    	left: 130px;
  }
}

.birds__bird1_price {
	animation-name: birdprice1
}

@keyframes birdprice1 {
  0% {
    top: 0px;
	    left: 0px;
  }  
  100% {
    top: 65px;
    	left: 128px;
  }
}

.birds__bird2 {
	font-size: 29px;
	transform: rotate(-10deg);	
}

.birds__bird2_heading {
	animation-name: bird2;
}

@keyframes bird2 {
  0% {
    top: 340px;
	    left: 740px;
  }  
  100% {
    top: 85px;
    	left: 790px;
  }
}

.birds__bird2_price {
	animation-name: birdprice2
}

@keyframes birdprice2 {
  0% {
    top: 0px;
	    left: 0px;
  }  
  100% {
    top: 81px;
    	right: 208px;
  }
}

.birds__bird3 {
	font-size: 55px;
	transform: rotate(12deg);	
}

.birds__bird3_heading {
	animation-name: bird3;
}

@keyframes bird3 {
  0% {
    top: 340px;
	    left: 740px;
  }  
  100% {
    top: 281px;
    	left: 245px;
  }
}

.birds__bird3_price {
	animation-name: birdprice3
}

@keyframes birdprice3 {
  0% {
    top: 0px;
	    left: 0px;
  }  
  100% {
    top: 260px;
    	left: 246px;
  }
}

.birds__bird4 {
	font-size: 35px;
	transform: rotate(15deg);	
}

.birds__bird4_heading {
	animation-name: bird4;
}

@keyframes bird4 {
  0% {
    top: 340px;
	    left: 740px;
  }  
  100% {
    top: 461px;
    	left: 955px;
  }
}

.birds__bird4_price {
	animation-name: birdprice4
}

@keyframes birdprice4 {
  0% {
    top: 0px;
	    left: 0px;
  }  
  100% {
    top: 305px;
    	right: 412px;
  }
}

.birds__bird5 {
	font-size: 38px;
	transform: rotate(-25deg);	
}

.birds__bird5_heading {
	animation-name: bird5;
}

@keyframes bird5 {
  0% {
    top: 340px;
	    left: 740px;
  }  
  100% {
    top: 589px;
    	left: 381px;
  }
}

.birds__bird5_price {
	animation-name: birdprice5
}

@keyframes birdprice5 {
  0% {
    top: 0px;
	    left: 0px;
  }  
  100% {
    top: 262px;
    	right: 109px;
  }
}

.header-bar {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.menu_heading {
	margin-top: 30px;
	height: 51px;
}

.list {
	list-style: none;
	padding-inline-start: 0;
}

.list__item_heading {
	display: inline-block;
	margin-right: 30px;
	font-size: 16px;
}

.list__item_footer {
	font-size: 18px;
	margin-bottom: 12px;
}

.list__link_heading {
	color: #1f1f24;	
}

.list__link:hover {
	color: #1f1f24;
	text-decoration: none;
}

.list__link:after {
	display: block;
    content: "";
    height: 1px;
    width: 0%;
    background-color: #1f1f24;
    transition: width .3s ease-in-out;
}

.list__link:hover:after {
	width: 100%;
}

.list__link_footer {
	color: #8993ad;
}

.list__link_active {
	text-decoration: underline;
	color: #fc557c;
}

.burger {
	width: 45px;
	height: 32px;
	display: none;		
	background: transparent;
	background-image: url(../img/burger.png);
	background-repeat: no-repeat;
	border: none;
}

.burger:active, .btn-call-back_mini:active, .close__1:active, .close__2:active {
	box-shadow: 0 0 20px #ff4e2e;
	outline: none;
}

.close {
	position: relative;
	display: none;
	margin-top: 10px;	
	border: none;
	outline: none !important;
	background: transparent;
}

.close::before {
	content: '';
	position: absolute;
	width: 45px;
	height: 6px;
	background-image: linear-gradient(to top, #f26522 20%, #fa0891 100%);
	top: 0;
	transform: rotate(45deg);	
}

.close::after {
	content: '';
	position: absolute;
	width: 45px;
	height: 6px;
	background-image: linear-gradient(to top, #f26522 20%, #fa0891 100%);
	bottom: -4px;
	transform: rotate(-45deg);
}

.contacts {
	color: #1f1f24;
	font-size: 25px;
	font-weight: 700;	
}

.contacts_heading {
	max-height: 66px;
	margin-top: 30px;
}

.contacts_heading > a {
	color: #1f1f24;
	transition: text-shadow 0.3s ease;
}

.contacts_heading > a:hover {
	color: #1f1f24;
	text-decoration: none;
	text-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
	transition: text-shadow 0.3s ease;
}

.btn-call-back {
	color: #f53f4f;
	font-size: 16px;
	background: none;
	border: 1px solid #f82370;
	width: 208px;
	height: 44px;
	outline: none !important;
	cursor: pointer;
	transition: background-color 0.5s ease, color 0.5s ease;
}

.btn-call-back:hover {
	background-color: #f82370;
	color: #fff; 
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
	transition: background-color 0.5s ease, color 0.5s ease;
}

.btn-call-back:active {
	background-color: #f00040;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.4) inset;
}

.btn-call-back_heading {
	margin-left: 30px;
}

.btn-call-back_mini {
	display: none;
	height: 26px;
	margin-left: 10px;
	cursor: pointer;
	border-radius: 50%;
	transition: box-shadow 0.3s ease;
}

.btn-call-back_mini:hover {
	box-shadow: 0 0 20px #ff4e2e;
	transition: box-shadow 0.3s ease;
}

.intro .fixed-container {
	display: flex;
	justify-content: space-between;
}

.visit-card {
	margin-top: 212px;
}

.visit-card__name {	
	font-size: 70px;
	font-family: Roboto-Black, sans-serif;
	color: #1f1f24;
}

.visit-card__profession {
	display: block;
	font-size: 25px;
	color: #8993ad;
	margin-top: 17px;
	font-family: Roboto, sans-serif;
}

.visit-card-mini {
	display: none;
	text-align: center;
	margin: 18px auto 0;
}

.visit-card-mini__name_mini {	
	font-size: 45px;
	font-family: Roboto-Black, sans-serif;
	color: #1f1f24;	
}

.visit-card-mini__profession_mini {
	margin: 28px auto 0;
	font-size: 20px;
	color: #8993ad;
}

.btn-main {
	width: 270px;
	height: 60px;
	text-align: center;
	border: none;
	background-color: #ff4e2e;
	font-size: 18px;
	line-height: 54px;
	color: #ffffff;
	outline: none !important;
	cursor: pointer;
	transition: color 0.3s ease-in, background 0.3s ease-in, box-shadow 0.3s ease-in, border 0.3s ease-in;
}

.btn-main:hover {
	color: #f82370;
	background: transparent;
	border: 1px solid #ff4e2e;
	box-shadow: 0 0 10px #ff4e2e;
	transition: color 0.3s ease-in, background 0.3s ease-in, box-shadow 0.3s ease-in, border 0.3s ease-in;
}

.btn-main:active {
	box-shadow: 0 0 10px #ff4e2e inset;
}

.btn-main_heading {
	margin-top: 45px;
}

.btn-main_mini {
	margin: 28px auto 0;
}

.selfy {
	margin-right: -76px;
	max-height: 637px;
	margin-top: 50px;
	z-index: 1;
}

.col {
	display: flex;
	align-items: center;
}

.work > .flex {
	flex-direction: column;
	align-items: center;
}

.work {	
	min-height: 640px;
	text-align: center;	
}

.title {
	font-family: Roboto, sans-serif;
	color: #262626;
	font-size: 54px;
	font-weight: 700;
	margin-top: 88px;
	text-align: center;
}

.work-block {
	flex-direction: row;
	width: 100%;
	margin-top: 43px;
}

.work-block__item {
	width: 270px;
}

.work-block__pic_320 {
	display: none;
}

.work-block__text {
	color: #8993ad;
	font-size: 20px;
	font-weight: 400;
	
	margin-top: 23px;
}

.btn-main_work {
	margin-bottom: 103px;
	margin-top: 74px;
}

.examples {
	width: 100%;
	min-height: 860px;
	
}

	.examples > .flex {
		flex-direction: column;
		align-items: center;
		position: relative;
	}

	.swiper-container {
		width: 100%;		
	}

		.slider__arrow {
			background: none;
			border: none;
			cursor: pointer;
			position: absolute;
			z-index: 10;
			outline: none;
		}

		.slider__arrow_left {
			left: -5px;
			top: 372px;
		}

		.slider__arrow_right {
			right: -3px;
			top: 372px;
		}

		.slider__image {
			border-radius: 50%;
			box-shadow: 0 0 20px rgba(0, 0, 0, 0.08);
		}

		.slider__text {			
			padding-top: 30px;
			color: #8993ad;
			font-size: 20px;
			font-weight: 500;
		}

		.swiper-pagination-bullet {
			width: 12px !important;
			height: 12px !important;
		}

		.swiper-pagination-bullet-active {
			background: linear-gradient(13deg, #ff8f5a, #ff2f96) !important;
		}

		.swiper-container {
		    width: 100%;
		    height: 450px;
		    margin: 5px auto 42px;

	    }
	    .swiper-slide {
		    text-align: center;
		    font-size: 18px;
		    background: #fbfbfb;

		    /* Center slide text vertically */
		    display: -webkit-box;
		    display: -ms-flexbox;
		    display: -webkit-flex;
		    display: flex;
		    -webkit-box-pack: center;
		    -ms-flex-pack: center;
		    -webkit-justify-content: center;
		    justify-content: center;
		    -webkit-box-align: center;
		    -ms-flex-align: center;
		    -webkit-align-items: center;
		    align-items: center;
	    }


.price {		
	background-image: linear-gradient(13deg, #ff8f5a 0%, #ff2f96 99%, #ff2f96 100%);
	color: #ffffff;
	box-sizing: content-box;
}

	.price .fixed-container {
		max-width: 942px;
	}

		.price__topic {
			max-width: 942px;
			font-size: 45px;
			font-weight: 700;
			line-height: 60px;
			margin-bottom: 30px;
			padding-top: 37px;
		}

		.price__options {
			max-width: 755px;		
			font-size: 18px;
			line-height: 30px;
			padding-bottom: 59px;
		}

		.price__options span {
			font-size: 20px;
		}

footer > .flex {
	align-items: center;
	min-height: 262px;
	
}

	.contacts__tel-number > a {
		display: inline-block;
		margin-bottom: 34px;
		font-weight: 400;
		color: #1f1f24;
		transition: transform 0.3s ease, color 0.3s ease;
	}

	.contacts__tel-number > a:hover {
		text-decoration: none;
		color: #8993ad;
		transition: transform 0.3s ease, color 0.3s ease;
		transform: scale(1.03);
	}

	.contacts__tel-number::before {
		content: "\E800";
		font-family: "Fontello";
		background: linear-gradient(13deg, #ff8f5a 0%, #ff2f96 99%, #ff2f96 100%);
		background-clip: border-box;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		margin-right: 10px;		
	}

	.contacts__email > a {
		font-weight: 400;
		color: #1f1f24;
		transition: transform 0.3s ease, color 0.3s ease;
	}

	.contacts__email > a:hover {
		text-decoration: none;
		color: #8993ad;
		transform: scale(1.03);
		transition: transform 0.3s ease, color 0.3s ease;		
	}

	.contacts__email::before {
		content: "\f0e0";
		font-family: "Fontello";
		background: linear-gradient(13deg, #ff8f5a 0%, #ff2f96 99%, #ff2f96 100%);
		background-clip: border-box;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		margin-right: 10px;
	}
	
	.social-media {
		padding-right: 25px;
	}

	.social-media .call_back {
		margin-left: 0;
		margin-bottom: 30px;
	}

	.social-media .btn-main {
		display: none;
	}

	.btn-call-back_footer {
		width: 250px;
		height: 45px;
	}

		.icons {
			margin-top: 35px;
			height: 29px;
			padding-right: 45px;
		}

			.icons__vk {
				width: 35px;
				height: 30px;
				background-image: url(../img/sprite.png);
				background-repeat: no-repeat;
			}

			.icons__fb {
				width: 25px;
				height: 35px;
				background-image: url(../img/sprite.png);
				background-repeat: no-repeat;
				background-position: -65px 0;
			}

			.icons__twitter {
				width: 35px;
				height: 30px;
				background-image: url(../img/sprite.png);
				background-repeat: no-repeat;
				background-position: -112px 0;
			}

			.icons__insta {
				width: 30px;
				height: 30px;
				background-image: url(../img/sprite.png);
				background-repeat: no-repeat;
				background-position: -169px 0;
			}

.copyright {
	height: 81px;
	background-color: #31293c;
	font-size: 16px;
	color: #ffffff;
	text-align: center;
	padding-top: 32px;
	box-sizing: border-box;
}



.popup-container {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.65);
	z-index: 20;	
}

.popup {
	width: 400px;
	background-color: rgba(255, 255, 255, 1);
	padding: 20px;
	margin: 40px auto;
	border-radius: 5px;
	transition: transform 0.6s ease;
}

.popup-active {
	transform: translateY(150px);
	transition: transform 0.6s ease;
}

.modal-title {
	font-size: 20px;
}

label {
	color: #8993ad;
}

.form-control {
	display: block;
	margin-top: 10px;
	margin-bottom: 20px;
	width: 100%;
	height: 25px;
	border-radius: 3px;
}

.form-control:focus {
	outline-color: #ff2f96;
}

.comment {
	height: 100px;
}

.modal-header {
	display: flex;
	justify-content: space-between;
	padding-bottom: 20px;
	margin-bottom: 20px;
	border-bottom: 2px solid #8993ad;
}

.close-form {
	font-size: 20px;
	font-weight: 700;
	background: none;
	outline: none;
	border: none;
	transition: transform 0.5s ease;
}

.close-form:hover {
	transform: rotate(360deg);
	transition: transform 0.5s ease;
}

.btn {
	width: 150px;
	height: 40px;
	margin: 40px 0 10px;	
	border: 1px solid #ff2f96;
	color: #f53f4f;
	background: none;
	outline: none;
	transition: background-color 0.3s ease, color 0.3s ease;
}

.btn:hover {
	background-color: #ff2f96;
	color: #fff; 
	transition: background-color 0.3s ease, color 0.3s ease;
}

.modal-after {
	display: none;
}


 
